#footer {
  border: 2px solid black;
}

#footer .paddingContact-container {
  padding: 68px 15px 72px !important;
}
#footer .container h1.white,
#footer .company-heading h1 {
  font-family: "proxima-nova", sans-serif;
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 65px;
  margin-bottom: 20px;
}
#footer .control-group {
  margin-bottom: 15px;
}
#footer .form {
  margin-top: 25px;
  margin-bottom: 25px;
}
#footer .white {
  color: #fff;
}
#footer .container p {
  font-style: normal !important;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0px;
}
#footer .theme-selector {
  display: none;
}
#footer .contact-page-form h3 {
  font-size: 26px;
  font-weight: bold;
  text-transform: capitalize;
}
#footer .parallax {
  background-attachment: inherit !important;
}
#footer .parallax {
  background-attachment: inherit !important;
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
  height: 300px;
}
#footer h3 {
  font-size: 20px;
  margin: 35px 0px 25px;
  font-weight: 800;
  color: #3d3d3d;
  text-transform: uppercase;
}

#footer .map-overlay h3 {
  color: #fff;
  border-bottom: 2px solid #d2282e;
  padding-bottom: 15px;
}

#footer .marginBottom40 {
  margin-bottom: 40px;
}

#footer .btn-primary {
  width: 100%;
}

#footer .contact-right-info {
  margin-bottom: 25px;
}

@media only screen and (max-width: 991px) {
  #footer .contact-right-info {
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  #footer .contact-right-info {
    text-align: left;
  }
}

#footer .text-area {
  height: 15vh;
}

#footer .footer-logo-div {
  margin: 20px 0;
}

#footer .footer-logo-img {
  display: block;
  height: 60px;
  width: auto;
}

#footer .footer-logo-map {
  display: block;
  height: 250px;
  width: auto;
}
