.personal-container {
  height: 35vh;
  padding: 5vh 0;
  position: relative;
}

.personal-background {
  position: absolute;
  z-index: -1;
  top: 0;
  background-image: url("/personal/background.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 10vw;
  height: 35vh;
  width: 80vw;
  opacity: 0.9;
}

.personal-img {
  display: block;
  height: 25vh;
  border-radius: 50%;
  margin: auto;
  border: 8px solid white;
}
