{% extends "defaultTemplate.html" %}

{% block title %}<title>KJ Chow Stories</title>{% endblock %}

{% block content %}

<a href="{% url 'project:storyList' pid=story.project.id %}">&lt Story List</a>
<div id="storyNav">
    {% if previous_story %}
        <a id="storyPrev" href="{% url 'project:storyMain' pid=story.project.id sid=previous_story.id %}">Prev</a>
    {% endif %}
    {% if next_story %}
        <a id="storyNext" href="{% url 'project:storyMain' pid=story.project.id sid=next_story.id %}">Next</a>
    {% endif %}
</div>
<h1>{{ story.name }}</h1>
<h2>{{ story.date }}</h2>

{% if story.primary_image != none %}
    <img src="data:image/png;base64, {{ story.primary_image }}">
{% endif %}
<div id="storyContent">
    {{ story.content }}
</div>
<script>
    function textAreaHandling(){
        var storyContent = "{{ story.content|safe }}";
        textAreaDiv = document.getElementById("storyContent");
        textAreaDiv.innerHTML = storyContent;
    }
    textAreaHandling();
</script>
{% endblock %}