{% extends "defaultTemplate.html" %}

{% block title %}<title>KJ Chow Stories</title>{% endblock %}

{% block content %}
    <!-- Header Story -->
    <a href="{% url 'project:storyList' pid=project.id %}">&lt Story List</a>
    <div id="storyNav">
        {% if previous_story %}<a id="storyPrev" href="{% url 'project:storyMain' pid=project.id sid=previous_story.id %}">Prev</a>{% endif %}
        {% if next_story %}<a id="storyNext" href="{% url 'project:storyMain' pid=project.id sid=next_story.id %}">Next</a>{% endif %}
    </div>

    <!-- View Story -->
    <div id="viewStory">
        {% if request.user.is_authenticated %}
            <div class="rightButtonTop"><button name="editButton" type="button" onclick="editStoryFunction()">Edit</button></div>
        {% endif %}
        
        <h1>{{ story.name }}</h1>
        <h2>{{ story.date }}</h2>
        <h3>
            {% if story.tag_list|length > 0 %}
                {% for tag in story.tag_list %}
                    <li class="tags">{{ tag }}</li>
                {% endfor %}
            {% else %}
                <li class="tags">none</li>
            {% endif %}
        </h3>
        {% if story.primary_image != none %}
            <img src="data:image/png;base64, {{ story.primary_image }}">
        {% endif %}
        <div id="storyContent">{{ story.content }}</div>
    </div>

    <!-- Edit Story -->
    {% if request.user.is_authenticated %}

        <div id="editStory" style="display: none;">
            <!-- Details Panel -->
            <form action="{% url 'project:storyMain' pid=project.id sid=story.id %}" method="POST">
                {% csrf_token %}
                <div class="rightButtonTop"><button name="cancelButton" type="button" onclick="editStoryFunction()">Cancel</button></div>
                <table id="tableStory">
                    <h1>Details</h1>
                    <tbody>
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" id="storyName_edit" name="storyName_edit" value="{{ story.name }}" required></td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td><input type="date" id="storyDate_edit" name="storyDate_edit" value="{{ story.date }}" required></td>
                        </tr>
                        <tr>
                            <td>Tags:<br>(Press enter or add a comma after each tag)</td>
                            <td id="tagsColumn">
                                <input type="text" id="storyTags_edit" name="storyTags_edit" onkeydown="return event.key != 'Enter';">
                                <input type="hidden" id="storyTags_final" name="storyTags_final" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>Content:</td>
                            <td><textarea id="storyContent_edit" name="storyContent_edit" cols="40" rows="5" required></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <div class="rightButtonBottom"><button name="saveDetailsButton" onclick="return confirmationPopUp(this)">Save</button></div>
            </form>

            <!-- Image Panel -->
            <div id="imageStory">
                <form action="{% url 'project:storyMain' pid=project.id sid=story.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h1>Image</h1>
                    {% if story.primary_image != none %}<img src="data:image/png;base64, {{ story.primary_image }}">{% endif %}
                    <br />
                    <input type="file" id="storyImage_new" name="storyImage_new" accept="image/*"/>
                    <div class="rightButtonBottom"><button name="saveImageButton" onclick="return confirmationPopUp(this)">Save</button></div>
                </form>
            </div>
        </div>

        <!-- Delete Story -->
        <div id="deleteStory" style="display: none;">
            <div class="rightButtonBottom">
                <form action="{% url 'project:storyMain' pid=project.id sid=story.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button name="deleteButton" onclick="return confirmationPopUp(this)">Delete Story</button>
                </form>
            </div>
        </div>
        
    {% endif %}

    {% if request.user.is_authenticated %}
        <!-- DOM handling -->
        <script>
            // Text Area
            function textAreaHandling(){
                var textAreaDiv = document.getElementById("storyContent");
                var textAreaEditDiv = document.getElementById("storyContent_edit");
                var storyContent = {{ story.content|safe }};
                
                textAreaDiv.innerHTML = storyContent;
                textAreaEditDiv.innerHTML = storyContent;
            }

            // Hide and Show buttons and divs
            function editStoryFunction(){
                var view_div = getElementByXpath("//div[@id='viewStory']");
                var edit_div = getElementByXpath("//div[@id='editStory']");
                var delete_div = getElementByXpath("//div[@id='deleteStory']");
                if(view_div.style.display == ""){
                    view_div.style.display = "none";
                    edit_div.style.display = "";
                    delete_div.style.display = "";
                }else{
                    view_div.style.display = "";
                    edit_div.style.display = "none";
                    delete_div.style.display = "none";
                }
            }

            // Tag Handling
            let storyTagHandler = new TagHandling("storyTags_edit", "tagsColumn", "storyTags_final", {{ story.tag_list|safe }});
            storyTagHandler.appendToHiddenTag();
            storyTagHandler.displayTag("storyTagHandler");

            storyTagHandler.tag_input.addEventListener("keyup", function(e){
                    if(e.key=="Enter"){
                        var tag = e.target.value.replace(/\s+/g, " ");
                        if(tag.length > 0){
                            var tag_array = tag.split(",").map(element => element.trim());
                            var unique_array = [...new Set(tag_array)];
                            unique_array.forEach(tag=>{
                                tag = tag.trim();
                                if(!storyTagHandler.tags.includes(tag) && tag){
                                    storyTagHandler.tags.push(tag.toLowerCase());
                                }
                            });
                            storyTagHandler.displayTag("storyTagHandler");
                        };
                        e.target.value = "";
                        storyTagHandler.appendToHiddenTag();
                    }
                }
            );

            // Image handling

            // To be run when page loaded
            textAreaHandling();
        </script>
    {% endif %}
{% endblock %}