{% extends "defaultTemplate.html" %}

{% block title %}<title>KJ Chow Project</title>{% endblock %}

{% block content %}
    <a href="{% url 'project:projectList' %}">&lt Project List</a>
    <table id="storyTable">
        <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Tags</th>
        </tr>
        {% for story in stories %}
        <tr>
            <td><a href="{% url 'project:storyMain' pid=project.id sid=story.id %}">{{ story.name }}</a></td>
            <td>{{ story.date }}</td>
            <td>
                {% if story.tag_list|length > 0 %}
                    {% for tag in story.tag_list %}<li class="tags">{{ tag }}</li>{% endfor %}
                {% else %}
                    <li class="tags">none</li>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <!-- New Story Drop Down -->
    {% if request.user.is_authenticated %}
        <div id="storyNewDiv">
            <label for="storyNew" class="input-group"><p class="buttonText">New/Hide</p></label>
            <input id="storyNew" type="checkbox">

            <table class="storySlide">  
                <tbody>
                    <form action="{% url 'project:storyList' project.id %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <tr>
                            <td>Name:</td>
                            <td><input type="text" id="storyName_new" name="storyName_new" placeholder="Story" required></td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td><input type="date" id="storyDate_new" name="storyDate_new" min="{{ project.start_date }}" max="{{ project.end_date }}" required></td>
                        </tr>
                        <tr>
                            <td>Tags:<br>(Press enter or add a comma after each tag)</td>
                            <td id="tagsColumn">
                                <input type="text" id="storyTags_new" name="storyTags_new" placeholder="New Tags" onkeydown="return event.key != 'Enter';">
                                <input type="hidden" id="storyTags_final" name="storyTags_final" value="">
                            </td>
                        </tr>
                        <tr>
                            <td>Image:</td>
                            <td><input type="file" id="storyImage_new" name="storyImage_new" accept="image/*"/></td>
                        </tr>
                        <tr>
                            <td>Content:</td>
                            <td>
                                <textarea id="storyContent_new" name="storyContent_new" cols="40" rows="5" placeholder="Content (Allows HTML formatting)" required></textarea>
                            </td>
                        </tr>
                        <tr><td><input type="submit" name="storyNew_add"/></td></tr>
                    </form>
                </tbody>
            </table>
        </div>
    {% endif %}

    <!-- Pagination -->
    <div id="pagination">
        {% for i in pages %}
            <a href="{% url 'project:storyList' pid=project.id %}?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <!-- DOM handling -->
        <script>
            Date.prototype.toDateInputValue = (function() {
                var local = new Date(this);
                local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
                return local.toJSON().slice(0,10);
            });
            document.getElementById("storyDate_new").value = new Date().toDateInputValue();

            // Tag Handling
            let storyTagHandler = new TagHandling("storyTags_new", "tagsColumn", "storyTags_final");
            storyTagHandler.tag_input.addEventListener("keyup", function(e){
                    if(e.key=="Enter"){
                        var tag = e.target.value.replace(/\s+/g, " ");
                        if(tag.length > 0){
                            var tag_array = tag.split(",").map(element => element.trim());
                            var unique_array = [...new Set(tag_array)];
                            unique_array.forEach(tag=>{
                                tag = tag.trim();
                                if(!storyTagHandler.tags.includes(tag) && tag){
                                    storyTagHandler.tags.push(tag.toLowerCase());
                                }
                            });
                            storyTagHandler.displayTag("storyTagHandler");
                        };
                        e.target.value = "";
                        storyTagHandler.appendToHiddenTag();
                    }
                }
            );
        </script>
    {% endif %}
{% endblock %}