<section id="contactFooter">
    <h2>Get In Touch</h2>
    <div class="row">


        <div id="contactFooter-left">
            <form method="post">
                <div class="row gtr-uniform gtr-50">
                    <div class="col-12 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                    <div class="col-12 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                    <div class="col-12 col-12-xsmall"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                </div>
            </form>
            <ul class="actions">
                <li><input type="submit" value="Send Message" /></li>
            </ul>
        </div>


        <div id="contactFooter-right">
            <div class="contactFooter-logo-div labeled-icons">
                <a target="_blank" href="https://www.linkedin.com/in/kai-jie-chow-506763183/">
                    <img class="contactFooter-logo-img" src="{{ MEDIA_URl }}/contactFooter/linkedIn.png"/>
                </a>
            </div>
            <div class="contactFooter-logo-div">
                <a target="_blank" href="https://github.com/kjc1998/">
                    <img class="contactFooter-logo-img" src="{{ MEDIA_URl }}/contactFooter/gitHub.png"/>
                </a>
            </div>
            <div class="contactFooter-logo-div">
                <a target="_blank" href="mailto:kj1chow@gmail.com">
                    <img class="contactFooter-logo-img" src="{{ MEDIA_URl }}/contactFooter/mail.png"/>
                </a>
            </div>
            <div class="contactFooter-logo-div">
                <a target="_blank" href="tel:+447716288854">
                    <img class="contactFooter-logo-img" src="{{ MEDIA_URl }}/contactFooter/call.png"/>
                </a>
                <span style="font-size:25px">+447716288854</span>
            </div>

            <div class="contactFooter-address-div">
                <h2>Address</h2>
                <a target="_blank" href="//maps.google.com/maps?f=d&amp; daddr=50.929896199999995, -1.3922295999999998&amp; hl=en">Get Directions</a>
                <div id="map-canvas" class="footer-logo-map"></div>
            </div>
        </div>


    </div>
</section>