<!DOCTYPE HTML>
<html>
	<head>
		{% block title %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=no">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		{% load static %}
		<link rel="icon" type="image/png" sizes="16x16"  href="{{ MEDIA_URl }}/general/favicon-16x16.png">
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/sideBar.css' %}" />
		<link rel="stylesheet" href="{% static 'css/contactFooter.css' %}">
		<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
		<link rel="stylesheet" href="{% static 'css/project.css' %}">
		<link rel="stylesheet" href="{% static 'css/error.css' %}">
		<link rel="stylesheet" href="{% static 'css/searchBar.css' %}">
		
		<!-- Additional -->
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">

		<!-- JQuery Referencing -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
		
		<!-- User Defined js -->
		<script src="{% static 'js/generic.js' %}"></script>
		<script src="{% static 'js/tag.recommendation.js' %}"></script>
		<script src="{% static 'js/metadata.js' %}"></script>
		<!-- Header Variable js -->
		<script>var metadata = {{ metadata|safe }};</script>
	</head>
	<body class="is-preload">
		<div id="navBar">
			<ul>
				<div id="navBarLeft">
					<li><a href="{% url 'mainFrame:mainFrame' %}">Home</a></li>
					<li><a href="{% url 'project:projectList' %}">Project</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'cv:cvManagement' %}">CV</a></li>
					{% endif %}
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
				</div>
				<div id="navBarRight">
					<img id="searchIcon" onclick="openSearch()" src="{{ MEDIA_URl }}/general/magnifyingGlass.jpeg">
				</div>
			  </ul>
		</div>
		<header id="header">
			<div class="inner">
				<img class="image avatar" src="{{ MEDIA_URl }}/personal/profilePic.png" alt="" />
				<h1><strong><em>"I strive to bring automation into engineering applicable grounds"</em></strong></h1>
				{% block sidebar %}{% endblock %}
			</div>
		</header>

		<!-- Modal Handling -->
		<div id="searchDiv">
			<div id="search">
				<div class="search-header">
					<div><h1>Search Bar</h1></div>
					<button data-close-button class="close-button" onclick="closeSearch()">&times;</button>
				</div>
				<div class="search-body">
					<div id="searchQuery">
						<label for="sKeywords">Keywords:</label>
						<input type="search" id="sKeywords" name="sKeywords" placeholder="Keywords">
						<input type="hidden" id="sKeywords_final" name="sKeywords_final" value="">

						<label for="sStartDate">Date Range (Start):</label>
						<input type="date" id="sStartDate" name="sStartDate" onchange="metadataFilter()" >

						<label for="sEndDate">Date Range (End):</label>
						<input type="date" id="sEndDate" name="sEndDate" onchange="metadataFilter()">

						<label for="sOrder">Date Order</label>
						<select id="sOrder" name="sOrder" onchange="metadataFilter()">
							<option value="ascending">Ascending</option>
							<option value="descending" selected="selected">Descending</option>
						</select>

						<!-- Tags -->
						<label for="sTags">Tags:<br>(DropDown or Type in Tag Name before pressing ENTER)</label>
						<div id="sTagsHolder"></div>

						<input type="text" id="sTags" name="sTags" list="sTagsOptions" onkeydown="return event.key != 'Enter';">
						<datalist id="sTagsOptions"></datalist>
						<input type="hidden" id="sTags_final" name="sTags_final" value="">
					</div>
					<div id="queryResults">
						<div id="queryProjects" class="queryTitle">
							<h2>Projects</h2>
							<ul class="no-bullets"></ul>
						</div>
						<div id="queryStories" class="queryTitle">
							<h2>Stories</h2>
							<ul class="no-bullets"></ul>
						</div>
					</div>
				</div>
			</div>
			<div id="overlay"></div>
		</div>

		<div id="main">
			{% block content %}{% endblock %}
			{% block contactFooter %}{% endblock %}
		</div>

		<!-- Scripts -->
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

		<!-- SearchBar Handling -->
		<script>
			// Instance Declaration //
			let metadata_handler = new MetadataHandling(metadata.projects, metadata.stories, metadata.tags);
			let sTagHandler = new TagRecommendation(
				"sTagHandler", "sTagsHolder", "sTags", "sTags_final", "sTagsOptions", [], metadata.tags, match_input=true);

			function metadataFilter(){
				var keywords = JSON.stringify(String(document.getElementById("sKeywords_final").value).split(","));
				var start = String(document.getElementById("sStartDate").value);
				var end = String(document.getElementById("sEndDate").value);
				var order = String(document.getElementById("sOrder").value);
				var tags = JSON.stringify(String(document.getElementById("sTags_final").value).split(","));

				var updated_list = metadata_handler.getKeyUpdates(keywords, start, end, order, tags);
				metadata_handler.update_results(updated_list);

				var project_list = metadata_handler.project_match;
				var story_list = metadata_handler.story_match;
				metadataDOMManagement(project_list, story_list);
			};

			// Metatdata Management //
			function metadata_handling(){
				$("#sKeywords_final").change(metadataFilter);
				$("#sTags_final").change(metadataFilter);
				metadataFilter();

				// Event Listener
				document.getElementById("sKeywords").addEventListener("keyup", keywordParser);
				document.getElementById("sKeywords").addEventListener("search", keywordParser);
			}

			// Tag Management //
			function tag_handling(){
				var filtered_tags = sTagHandler.get_filtered_tags("");
				sTagHandler.append_datalist(filtered_tags, "sTagsOptions");

				// Event Listener
				document.getElementById(sTagHandler._input_id).addEventListener("keyup", sTagHandler.tag_bar_event.bind(null, sTagHandler));
				document.getElementById("sTags").addEventListener("input", sTagHandler.hidden_input_event.bind(null, sTagHandler));
			}

			// One-Time-Run
			localStorage.clear();
			metadata_handling();
			tag_handling();
		</script>
	</body>
</html>