<!DOCTYPE HTML>
<html>
	<head>
		{% block title %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=no">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/segThree.css' %}">
		<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkATxRRNWgIy-Qn5tT6rhvgMn9uZZF_2M"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body class="is-preload">
		<div id="navBar">
			<ul>
				<li><a class="active">Home</a></li>
				<li><a>News</a></li>
				<li><a>Contact</a></li>
				<li><a>About</a></li>
			  </ul>
		</div>
		<header id="header">
			<div class="inner">
				<img class="image avatar" src="{{ MEDIA_URl }}/personal/profilePic.png" alt="" />
				<h1><strong><em>"I strive to bring automation into engineering applicable grounds"</em></strong></h1>
			</div>
		</header>

		<div id="main">
			{% block content %}{% endblock %}
			<section id="three">
				<h2>Get In Touch</h2>
				<p>Accumsan pellentesque commodo blandit enim arcu non at amet id arcu magna. Accumsan orci faucibus id eu lorem semper nunc nisi lorem vulputate lorem neque lorem ipsum dolor.</p>
				<div class="row">


					<div id="three-left">
						<form method="post">
							<div class="row gtr-uniform gtr-50">
								<div class="col-12 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
								<div class="col-12 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
								<div class="col-12 col-12-xsmall"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
							</div>
						</form>
						<ul class="actions">
							<li><input type="submit" value="Send Message" /></li>
						</ul>
					</div>


					<div id="three-right">
						<div class="three-logo-div labeled-icons">
							<a target="_blank" href="https://www.linkedin.com/in/kai-jie-chow-506763183/">
								<img class="three-logo-img" src="{{ MEDIA_URl }}/three/linkedIn.png"/>
							</a>
						</div>
						<div class="three-logo-div">
							<a target="_blank" href="https://github.com/kjc1998/">
								<img class="three-logo-img" src="{{ MEDIA_URl }}/three/gitHub.png"/>
							</a>
						</div>
						<div class="three-logo-div">
							<a target="_blank" href="mailto:kj1chow@gmail.com">
								<img class="three-logo-img" src="{{ MEDIA_URl }}/three/mail.png"/>
							</a>
						</div>

						<div class="three-address-div">
							<h2>Address</h2>
							<a target="_blank" href="//maps.google.com/maps?f=d&amp; daddr=50.929896199999995, -1.3922295999999998&amp; hl=en">Get Directions</a>
							<div id="map-canvas" class="footer-logo-map"></div>
						</div>
					</div>


				</div>
			</section>
		</div>

		<!-- Scripts -->
			<script src="{% static 'js/locationMarker.js' %}"></script>
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
	</body>
</html>