<!DOCTYPE HTML>
<html>
	<head>
		{% block title %}{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=0.7, user-scalable=no">
		{% load static %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
		<link rel="stylesheet" href="{% static 'css/sideBar.css' %}" />
		<link rel="stylesheet" href="{% static 'css/contactFooter.css' %}">
		<link rel="stylesheet" href="{% static 'css/navBar.css' %}">
		<link rel="stylesheet" href="{% static 'css/project.css' %}">
		<link rel="stylesheet" href="{% static 'css/error.css' %}">
		<link rel="stylesheet" href="{% static 'css/searchBar.css' %}">
		
		<!-- Additional -->
		<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/thinline.css">

		<!-- JQuery Referencing -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.poptrox.min.js' %}"></script>
		
		<!-- User Defined js -->
		<script src="{% static 'js/generic.js' %}"></script>
	</head>
	<body class="is-preload">
		<div id="navBar">
			<ul>
				<div id="navBarLeft">
					<li><a href="{% url 'mainFrame:mainFrame' %}">Home</a></li>
					<li><a href="{% url 'project:projectList' %}">Project</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'cv:cvManagement' %}">CV</a></li>
					{% endif %}
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'login' %}">Login</a></li>
					{% endif %}
				</div>
				<div id="navBarRight">
					<img id="searchIcon" onclick="openSearch()" src="{{ MEDIA_URl }}/general/magnifyingGlass.jpeg">
				</div>
			  </ul>
		</div>
		<header id="header">
			<div class="inner">
				<img class="image avatar" src="{{ MEDIA_URl }}/personal/profilePic.png" alt="" />
				<h1><strong><em>"I strive to bring automation into engineering applicable grounds"</em></strong></h1>
				{% block sidebar %}{% endblock %}
			</div>
		</header>

		<!-- Modal Handling -->
		<div id="searchDiv">
			<div id="search">
				<div class="search-header">
					<div><h1>Search Bar</h1></div>
					<button data-close-button class="close-button" onclick="closeSearch()">&times;</button>
				</div>
				<div class="search-body">
					<div id="searchQuery">
						<label for="sKeywords">Keywords:</label>
						<input type="search" id="sKeywords" name="sKeywords" placeholder="Keywords">

						<label for="sType">Type</label>
						<select id="sType" name="sType">
							<option selected="selected">All</option>
							<option value="project">Project</option>
							<option value="story">Story</option>
						</select>

						<label for="sStartDate">Date Range (Start):</label>
						<input type="date" id="sStartDate" name="sStartDate">

						<label for="sEndDate">Date Range (End):</label>
						<input type="date" id="sEndDate" name="sEndDate">

						<label for="sOrder">Date Order</label>
						<select id="sOrder" name="sOrder">
							<option value="ascending">Ascending</option>
							<option value="descending" selected="selected">Descending</option>
						</select>

						<label for="sTags">Tags:</label>(Press ENTER to key in tag name)
						<div id="sTagsHolder"></div>
						<input type="text" id="sTags" name="sTags" list="sTagsOptions" onkeydown="return event.key != 'Enter';">
						<datalist id="sTagsOptions"></datalist>
						<input type="hidden" id="sTags_final" name="sTags_final" value="">
					</div>
					<div id="queryResults">
						<div class="queryTitle"><h2>Projects</h2></div>
						<div class="queryTitle"><h2>Stories</h2></div>
					</div>
				</div>
			</div>
			<div id="overlay"></div>
		</div>

		<div id="main">
			{% block content %}{% endblock %}
			{% block contactFooter %}{% endblock %}
		</div>

		<!-- Scripts -->
		<script src="{% static 'js/browser.min.js' %}"></script>
		<script src="{% static 'js/breakpoints.min.js' %}"></script>
		<script src="{% static 'js/util.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>

		<!-- SearchBar Handling -->
		<script>
			var metadata = {{ metadata|safe }};

			let sTagHandler = new TagHandling("sTags", "sTagsHolder", "sTags_final");
			let metadata_handler = new MetadataHandling(metadata.projects, metadata.stories, metadata.tags);
			
			var full_tag_list = metadata_handler.get_tag_list();
			sTagHandler.tag_input.addEventListener(
				"keyup", function(e){
					if(e.key=="Enter"){
						var tag = e.target.value.replace(/\s+/g, " ");
						tag = tag.trim().toLowerCase();
						if(tag && full_tag_list.includes(tag)){
							if(!sTagHandler.tags.includes(tag) && tag){
								sTagHandler.tags.push(tag);
								sTagHandler.displayTag("sTagHandler");
								e.target.value = "";
								sTagHandler.appendToHiddenTag();
								metadata_handler.get_filtered_tags("", "sTags_final", "sTagsOptions");
							}else{
								alert("This tag has been added");
							}
						}else{
							alert("No Such Tag");
						}
					}
				}
			);

			// Tags Management Event Listener
			metadata_handler.get_filtered_tags("", "sTags_final", "sTagsOptions");
			const inputHandler = function(e){
				metadata_handler.get_filtered_tags(e.target.value, "sTags_final", "sTagsOptions");
			}
			document.getElementById("sTags").addEventListener('input', inputHandler);

			// hidden element change event
			$('#sTags_final').change(function(){
				console.log("Filter Function");
			})
		</script>
	</body>
</html>