#navBar {
  position: -webkit-sticky;
  position: sticky;
  z-index: 5;
  top: 0;
  font-size: 35px;
  border: 5px solid white;
}

#navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#navBar li {
  float: left;
  border-right: 1px solid white;
  padding: 0;
}

#navBar li:last-child {
  border-right: none;
}

#navBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border-bottom: none;
}

#navBar li a:hover:not(.active) {
  background-color: #111;
}

#navBar .active {
  background-color: #04aa6d;
}

#navBarLeft {
  float: left;
}

#navBarRight {
  float: right;
  align-items: center;
}

/* Search Bar Handling */

#searchIcon {
  height: 55px;
  transition: transform 0.3s;
}

#searchIcon:hover {
  transform: translateY(8px) translateX(-8px) scale(1.25);
}

#search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 40vw;
  max-width: 80%;
}

#search.active {
  transform: translate(-50%, -50%) scale(1);
}

.search-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.search-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.search-body {
  padding: 10px 15px 20vh;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
