/* Search Bar Handling */

#searchIcon {
  height: 55px;
  transition: transform 0.3s;
}

#searchIcon:hover {
  transform: translateY(8px) translateX(-8px) scale(1.25);
}

#search {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 60vw;
  max-width: 80%;
  height: 80vh;
}

#search.active {
  transform: translate(-50%, -50%) scale(1);
}

.search-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.search-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.search-body {
  position: relative;
  height: 80%;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px 10vh;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

#searchQuery {
  width: 40%;
}

#searchQuery > label {
  margin: 0px;
  padding-top: 20px;
}

#queryResults {
  position: relative;
  border-radius: 10%;
  border: 2px solid grey;
  width: 55%;
  vertical-align: top;
}

.queryTitle {
  margin: auto;
  display: block;
  width: 80%;
  height: 50%;
  text-align: center;
  overflow-y: scroll;
}

.queryTitle > h2 {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid grey;
}

#sTagsHolder {
  position: relative;
  display: block;
  min-height: 50px;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
