#three .three-logo-div {
  margin: 0 0 20px;
  width: 60px;
}

#three .three-address-div h2 {
  margin: 0 0 10px !important;
}

#three .three-logo-img {
  display: block;
  width: 60px;
  height: auto;
}

#three-right {
  min-width: 500px;
}
