.sideBar {
  position: relative;
  display: block;
  width: 100%;
  margin: 5vh 0;
}

ul.sideBar-ul {
  padding-left: 0;
  position: relative;
  list-style-type: none;
  text-align: left;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.4);
  border: 4px solid white;
  border-radius: 15px;
  margin: auto;
}

.sideBar-li {
  border-bottom: 4px solid white !important;
  color: white !important;
  padding: 2vh 2vw;
}

.sideBar-li:hover {
  color: rgba(112, 112, 112, 0.6) !important;
}
