{% extends "defaultTemplate.html" %}

{% block title %}<title>KJ Chow CV</title>{% endblock %}

{% block content %}
    <header class="major">
        <h2>CV</h2>
    </header>

    <!-- One -->
    <section id="cvUpload">
        <header class="major">
            <h2>Upload</h2>
        </header>
        <form action="{% url 'cv:cvManagement' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input 
                type="file"
                id="cvFileUpload"
                name="cvFileUpload"
                accept="application/pdf"
            >
            <input 
                type="submit"
            >
        </form>
    </section>

    <section id="cvVersions">
        <header class="major">
            <h2>Versions</h2>
        </header>
        <table>
            <tr>
                <th>Date</th>
                <th>CV</th>
                <th>Active</th>
            </tr>

            <tr>
                <td><p id="cvDate"></p></td>
                <td>
                    <section id="cv">
                        <div id="cvDiv">
                            <iframe id="cvKaiJie"></iframe>
                        </div>
                    </section>
                </td>
                <td>
                    <input type="radio" id="html" name="fav_language" value="HTML" checked>
                    <label for="html"></label>
                </td>
            </tr>
        </table>
    </section>

    <!-- base64 to Blob -->
    <script>
        const b64toBlob = (b64Data, contentType = '', sliceSize = 512) => {
            const byteCharacters = atob(b64Data);
            const byteArrays = [];

            for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                const slice = byteCharacters.slice(offset, offset + sliceSize),
                    byteNumbers = new Array(slice.length);
                for (let i = 0; i < slice.length; i++) {
                    byteNumbers[i] = slice.charCodeAt(i);
                }
                const byteArray = new Uint8Array(byteNumbers);

                byteArrays.push(byteArray);
            }

            const blob = new Blob(byteArrays, {
                type: contentType
            });
            return blob;
        };
        var cv_files = JSON.parse("{{ cv_files|escapejs }}");
        const contentType = "application/pdf";
        // date handling
        var cvDate = cv_files[1][0]
        const dateEle = document.getElementById("cvDate");
        dateEle.innerHTML = cvDate;

        var b64Data = cv_files[1][1];
        var blob = b64toBlob(b64Data, contentType);
        var blobUrl = URL.createObjectURL(blob);
        const iframeEle = document.getElementById("cvKaiJie");
        iframeEle.src = blobUrl;
    </script>
{% endblock %}